body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
}

.topnav {
	font-size: 18px;
	/* overflow: hidden; */
	background-color: #333;
	height: 50px;
	color: whitesmoke;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.topnav a {
	float: left;
	/* font-size: 16px; */
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.form {
	display: inline-flex;
	flex-direction: row;
	float: right;
	margin-top: 10px;
}

.search-field {
	width: 50%;
	padding: 8px 35px 8px 15px;

	border: none;
	border-radius: 100px;
	outline: none;
}

.search-button {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -33px;
}

.search-button img {
	width: 20px;
	height: 20px;
	object-fit: cover;
}

.opt select {
	/* position: relative; */
	/* font-family: Arial; */
	font-size: 16px;
	/* color: white; */
	padding: 8px 16px;
	margin: auto;
	background-color: lightgrey;
}

.table {
	text-align: center;
}

/* #students {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 60%;
} */

#table tr:nth-child(even) {
	background-color: lightgray;
}

#table tr:hover {
	background-color: #ddd;
}

#table td {
	border: 1px solid #ddd;
	padding: 8px;
}

#table th {
	/* width: 30%; */
	position: center;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #333;
	color: white;
}

#table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 60%;
}

.flex-container {
	height: 300px;
	display: flex;
	/* border: 1px solid black; */
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/* 适配mobile */
@media (max-width: 640px) {
	.flex-container {
		height: 600px;
		flex-direction: column;
	}
	.ele {
		width: 400px;
		height: 100px;
	}
}

.tech {
	width: 220px;
	height: 200px;
	border: 1px lightgrey;
	border-radius: 25px;
	/* border-style: outset; */
	box-shadow: 5px 5px 10px 5px lightgray;
	align-items: center;
	/* margin: 20px; */
}

.lan {
	margin-top: 10px;
}

.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 15px;
	background-color: #333;
	height: 120px;
	/* color: whitesmoke; */
}

.footer-text {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 2px;
}
.footer-text a {
	color: white;
	/* text-align: center;s */
	/* padding: 14px; */
	text-decoration: none;
}

#copyright-text {
	color: white;
	text-align: center;
	/* padding: 14px; */
	text-decoration: none;
	margin-top: 0px;
}

.social-icons {
	margin-top: 0px;
}
#icon-list {
	text-align: center;
}
#icon-list li {
	display: inline-block;
	padding-right: 35px;
}
.fa {
	font-size: 15px;
	color: white;
}
